packages/
bin/
obj/
PerfLogs/
.vs/
WindowsAudioProfiles.csproj.user
WindowsAudioProfiles.suo
WindowsAudioProfiles.v12.suo
WindowsAudioProfiles.CommandLine.csproj.user
WindowsAudioProfiles.Entity.csproj.user